body {
    font-family: sans-serif; 
    font-size: 11pt; 
    background-color: #f3d999; 
    color: #333; 
  }

  h1 {
    color: #a52a2a; 
    font-size: 24pt; 
    font-family: sans-serif; 
    font-weight: normal; 
  }

  /* p {
    text-align: justify; 
    margin-left: 60px; 
    margin-right: 10px; 
    border-left: 1px solid #999; 
    border-bottom: 1px solid #999; 
    padding-left: 10px; 
    padding-bottom: 10px; 
  } НЕ ИСПОЛЬЗУЕТСЯ */

  /* Кнопки */

  /*Обычная кнопка*/

  .btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    border: 4px solid black; /* Контур */
    }

    /* Использование подкласса */

    .btn:hover {
      display: inline-block; /* Строчно-блочный элемент */
      background: #babbbd; /* Серый цвет фона */
      color: #fff; /* Белый цвет текста */
      padding: 1rem 1.5rem; /* Поля вокруг текста */
      text-decoration: none; /* Убираем подчёркивание */
      border-radius: 3px; /* Скругляем уголки */
      border: 4px solid black; /* Контур */
      }

  /*Кнопка на всю ширину*/

  .btn_full {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    border: 4px solid black; /* Контур */
    display: flex;
    flex-flow:column;
    text-align: center;
  }

  /* Использование подкласса */

  .btn_full:hover {
    display: inline-block; /* Строчно-блочный элемент */
    background: #babbbd; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    border: 4px solid black; /* Контур */
    display: flex;
    flex-flow:column;
    text-align: center;
  }

  /* Заголовки */

  header {
    text-align: center; /* Центрировать */
  }

  /* На полный экран*/
  .fullscreen {
    display: flex;
    flex-flow:column;
    text-align: center;
  }

  /* Использовать, когда картинка и текст должны находиться на одном уровне*/
  .imgleft {
    float: left; /* Привязать к левому краю объекта другой, находящийся в одном блоке*/
    width: 100%;
    height: 100%;
  }
  .textright {
    float: right; /* Привязать к левому краю объекта другой, находящийся в одном блоке*/
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
  }

  /* Блоки */

  /* Самый верхний иекси сайта, имеющий липкое позиционирование */

  .div1 {
    background-color: #4b96dc; /* Заливка заднего фона блока*/
    position: sticky; /* Блок остаётся на месте */
    top: 0px; /* Для липкого позиционирования необходимый атрибут (где будет приклеен блок) */
    z-index: 1; /* На передний план */
  }

  /* Картинка имеет ширину, равной экрану */ 

  .div2 {
    position: relative; /* Относительное позиционирование */
    text-align: center;
    top: 0px;
    width: 100%;
    height: auto;
  }
  
  /* Наложение белого текста поверх картинки */
  .div3 {
    position: absolute; /* Абсолютное позиционирование */
    top: 10%; /* Относительно в нашем случае картинки отступ 10% от верха */
    color: white; /* Цвет текста */
    width: 100%;
    text-align:center;
    font-size: 30px; /* Размер текста */ 
  }

  /* Картинка и текст используются на одном уровне, при этом имея одинаковую высоту */
  .div4 {
    display: flex; /* Создаёт flex-блок, где все поместишиеся туда блоки имеют одинаковую высоту*/
    justify-content: center; /* Собирает все блоки в центр */
    align-items: center; /* Вертикальное центрирование во flex-блоках */
  }
   /* Чтобы размер картинки не менялся */
  .div5 {
    max-width: 100%;
    min-width: 100%;
  }

  /* Круги и цифры в них */
  
  .div6 {
    margin-top: 100px;
    display: flex;
    justify-content:space-around;
    font-size: 2rem;
  }

  .circle {
    width: 100px; 
    height: 100px;
    background: #83A7C9;
    border-radius: 50%;
  }

  .div7 {
    display: flex;
    justify-content:space-around;
  }

  .rect_with_round_angles {
    width: 400px; 
    height: 600px;
    background: #83A7C9;
    border-radius: 5px;
    margin-top: 50px;
  }

  .div21 {
    background-color: #4b96dc; /* Заливка заднего фона блока*/
    position: sticky; /* Блок остаётся на месте */
    top: 0px; /* Для липкого позиционирования необходимый атрибут (где будет приклеен блок) */
    z-index: 1; /* На передний план */;
  }

  .link {
    text-decoration: none;
  }