{% extends 'base.html' %}

{% block content %}
<div class="menu">
    {% if 'username' in session %}
    <span>{{ session['username'] }}</span>
    <a href="{{ url_for('admin.index') }}">Админка</a>
    <a href="{{ url_for('logout') }}">Выход</a>
    {% else %}
    <a href="{{ url_for('admin.index') }}">Админка</a>
    <a href="{{ url_for('login_page') }}">Вход</a>
    {% endif %}
</div>
<h1><i>Техническое задание</i></h1>
<h1><i>Онлайн</i></h1>

<div>
    <header align="center">
        <h2>Составьте техническое задание</h2>
        <h2>и отправьте его разработчику</h2>
        <h3>Онлайн генератор ТЗ</h3>
        <img alt="" src="{{ url_for('static', filename='Стартовая страница1.jpg') }}">  
        <a href="{{ url_for('second_page') }}" class="btn">Разработать ТЗ</a>
    </header>
</div>

<div>
    <header align="center">
        <h1>Техническое задание - </h1>
        <h2>это документ, который точно отражает требования к будущему проекту и по которому выполняется разработка.</h2>
    </header>
</div>

<div id = "threesteps">
    <img alt="" src="{{ url_for('static', filename='Стартовая страница2.jpg') }}">  
    <h1>Всего три шага:</h1>
    <br>
    <h1>1. Зайти в конструктор</h1>
    <h1>2. Заполнить форму</h1>
    <h1>3. Получить ТЗ иотправить его разработчику</h1>
    <a href="{{ url_for('second_page') }}" class="btn">Разработать ТЗ</a>
</div>

{% endblock %}
