{% extends 'base.html' %}

{% block content %}
<div class="menu">
    {% if 'username' in session %}
    <span>{{ session['username'] }}</span>
    <a href="{{ url_for('admin.index') }}">Админка</a>
    <a href="{{ url_for('logout') }}">Выход</a>
    {% else %}
    <a href="{{ url_for('admin.index') }}">Админка</a>
    <a href="{{ url_for('login_page') }}">Вход</a>
    {% endif %}
</div>

<div class="div1">
    <h1><i>Техническое задание</i></h1>
    <h1><i>Онлайн</i></h1>
</div>

<div class="div2 fullscreen">
    <img alt="" src="{{ url_for('static', filename='Стартовая страница1.jpg') }}">  
    <div class="div3">
        <h2>Составьте техническое задание</h2>
        <h2>и отправьте его разработчику</h2>
        <h3>Онлайн генератор ТЗ</h3>
    </div>
</div>
<br>
<div>
    <a href="{{ url_for('second_page') }}" class="btn_full">Разработать ТЗ</a>
</div>

<div>
    <header>
        <hr>
        <h1>Техническое задание - </h1>
        <h2>это документ, который точно отражает требования к будущему проекту и по которому выполняется разработка.</h2>
        <hr>
    </header>
</div>

<div class="div4">  
    <div class="imgleft">
        <img class="div5" alt="" src="{{ url_for('static', filename='Стартовая страница2.jpg') }}">
    </div> 
    <div class="textright">
        <h1>Всего три шага:</h1>
        <br>
        <h1>1. Зайти в конструктор</h1>
        <h1>2. Заполнить форму</h1>
        <h1>3. Получить ТЗ и отправить его разработчику</h1>
        <a href="{{ url_for('second_page') }}" class="btn">Разработать ТЗ</a>
    </div>
</div>

<div>
    <header>
        <hr>
        <h1>Техническое задание - </h1>
        <h2>это ещё и</h2>
        <hr>
    </header>
</div>

<div class="div6">
    <div class="circle">
        <h1>1</h1>
    </div>
    <div class="circle">
        <h1>2</h1>
    </div>
    <div class="circle"> 
        <h1>3</h1>
    </div>
</div>

<div class="div7">
    <div class="rect_with_round_angles">
    </div>
    <div class="rect_with_round_angles">
    </div>
    <div class="rect_with_round_angles"> 
    </div>
</div>

{% endblock %}
