{% extends 'base.html' %}

{% block content %}
<div class="menu">
    {% if 'username' in session %}
    <span>{{ session['username'] }}</span>
    <a href="{{ url_for('admin.index') }}">Админка</a>
    <a href="{{ url_for('logout') }}">Выход</a>
    {% else %}
    <a href="{{ url_for('admin.index') }}">Админка</a>
    <a href="{{ url_for('login_page') }}">Вход</a>
    {% endif %}
</div>

<div class="div21">
    <a href="{{ url_for('index_page') }}" class="link">
        <h1><i>Техническое задание</i></h1>
        <h1><i>Онлайн</i></h1>
    </a>
</div>

<header>
    <h1><i>Заполните форму</i></h1>
</header>
{% endblock %}

