{% extends 'base.html' %}

{% block content %}
<div class="menu">
    {% if 'username' in session %}
    <span>{{ session['username'] }}</span>
    <a href="{{ url_for('admin.index') }}">Админка</a>
    <a href="{{ url_for('logout') }}">Выход</a>
    {% else %}
    <a href="{{ url_for('admin.index') }}">Админка</a>
    <a href="{{ url_for('login_page') }}">Вход</a>
    {% endif %}
</div>

<div class="Online-TehZadanie">
    <div>
        <a href="{{ url_for('index_page') }}" class="link1">Техническое задание <br> Онлайн</a>
    </div>
</div>

<header>
    <h1>Заполните форму</h1>
</header>

<div class="div22">
    <div class="div23">
        <div class="div24">

            <!-- Имя -->
            <h2 class="form_text">Имя</h2>
            <form method="get" action="{{ url_for('third_page') }}">
                <input title="Можно ввести только русские буквы." pattern="^[А-Яа-яЁё\s]+$" name="name" type="text" placeholder="Введите своё имя" required />

                <!-- Электронный адрес -->
                <h2 class="form_text">Электронный адрес</h2>
                <h3 class="form_text">На указанный адрес поступит готовое ТЗ</h3>
                <input required type="email" placeholder="Введите адрес электронной почты">

                <!-- Типы сайтов -->
                <h2 class="form_text">Выберите тип сайта</h2>
                
                <div class="Type_of_sytes">
                    <div>
                        <div><label><input required type="radio" class="radio" value="Internet-Shop" onchange="Opisanie(value)" name="raz"/>Интернет-магазин</label></div>
                        <br>
                        <div><label><input required type="radio" class="radio" value="Blog" onchange="Opisanie(value)" name="raz"/>Блог</label></div>
                        <br>
                        <div><label><input required type="radio" class="radio" value="Game Portal" onchange="Opisanie(value)" name="raz"/>Игровой портал</label></div>
                    </div></label>
                    <div>
                        <div><label><input required type="radio" class="radio" value="Info Syte" onchange="Opisanie(value)" name="raz"/>Информационный сайт</label></div>
                        <br>
                        <div><label><input required type="radio" class="radio" value="Medichine Syte" onchange="Opisanie(value)" name="raz"/>Медицинский сайт</label></div>
                        <br>
                        <div><label><input required type="radio" class="radio" value="Syte-Visitka" onchange="Opisanie(value)" name="raz"/>Сайт-визитка</label></div>
                    </div>
                    <div>
                        <div><label><input required type="radio" class="radio" value="Educational Syte" onchange="Opisanie(value)" name="raz"/>Образовательный сайт</label></div>
                        <br>
                        <div><label><input required type="radio" class="radio" value="Corporative Syte" onchange="Opisanie(value)" name="raz"/>Корпоративный сайт</label></div>
                        <br>
                        <div><label><input required type="radio" class="radio" value="Another" onchange="Opisanie(value)" name="raz"/>Другое (свой проект)</label></div>
                        <br>
                    </div>
                </div>
                <!-- Описания типов сайтов -->
                <h2 class="form_text" id="Internet-Shop" style='display: none;'>Основная цель – продать товар или услугу. К обязательным раздела относятся каталог продукции и страница с заказом, предлагающий варианты оплаты.</h2>
                <h2 class="form_text" id="Blog" style='display: none;'>Блог - это тандем новостной ленты, форума и гостевой книги. Возможность оставлять комментарии под каждой темой блога – отличный способ общения посетителей.</h2>
                <h2 class="form_text" id="Game Portal" style='display: none;'>Игровой портал - предоставление информации о той или иной игре или их совокупности. Обычно, на портале есть несколько стандартных разделов: для поиска нужной информации по теме, блок новостей, ссылки на темы, связанные с игрой.</h2>
                <h2 class="form_text" id="Info Syte" style='display: none;'>Информационный сайт - содержит большое количество информации, которая структурирована по тематическим разделам или самостоятельным единицам. Примером такого сайта может быть сайт журнала, виртуальной энциклопедии или библиотеки.</h2>
                <h2 class="form_text" id="Syte-Visitka" style='display: none;'>Сайт-визитка - позиционирует компанию в интернете, информирует о товарах или услугах и показывает результаты деятельности вашей организации.</h2>
                <h2 class="form_text" id="Educational Syte" style='display: none;'>Образовательный сайт - это информационная система, предназначенная для доступа широкого круга пользователей к информационным ресурсам и услугам образовательного характера с помощью интернета.</h2>
                <h2 class="form_text" id="Corporative Syte" style='display: none;'>Корпоративный сайт - полноценное представительство компании в интернете и эффективный инструмент для привлечения и удержания новых клиентов.</h2>
                <h2 class="form_text" id="Another" style='display: none;'>Напишите в свободной форме суть вашей идеи, например - "Я хочу продавать через сайт..."</h2>

                <!-- Название сайта -->
                <br>
                <h2 class="form_text">Название сайта</h2>
                <input required type="text" placeholder="Введите название сайта">

                <!-- Цели создаваемого сайта -->
                <h2 class="form_text">Цели создаваемого сайта</h2>
                <h3 class="form_text">Служат ориентиром для структуры и содержания сайта, а также определяют выбор платформы для его разработки. <br>Цели - это итоговый результат, который должен быть достигнут после создания сайта.</h3>
                <textarea required placeholder="Укажите несколько целей"></textarea>
                <div class="RadioChoice"><br><label><input type="radio" class="radio" value="Yes" onchange="Is_it_examples_of_goals(value)">Примеры целей</label></div>
                <!-- Примеры целей -->
                <div id='examples_of_goals' style='display: none;'>
                    <br>
                    <h2 class="form_text">Примеры целей создания сайта интернет-магазин:</h2>
                    <h3 class="form_text">1. Сформировать постоянный положительный денежный поток за счет продаж товаров через интернет. <br> 2. Расширения рынка сбыта за счет отсутствия географических ограничений (продажа товара любому покупателю, вне зависимости от того, где он физически находится). <br> 3. Продвижение товара за счет рекламы и партнерских программ в интернете.</h3>
                    <br>
                </div>

                <!-- Наличие конкурениов-сайтов -->
                <h2 class="form_text">Наличие конкурентов-сайтов</h2>
                <div class="RadioChoice"><label><input required type="radio" class="radio" value="Yes" onchange="Is_it_syte_concurents(value)" name="dva"/>Да</label></div><br>
                <div class="RadioChoice"><label><input required type="radio" class="radio" value="No" onchange="Is_it_syte_concurents(value)" onclick="Is_it_examples_of_advantages(value)" name="dva"/>Нет</label></div>

                <!-- Первый конкурент -->
                <div id='Block_First_Concurent' style='display: none;'>
                    <br>
                    <h2 class="form_text">Сайт конкурента</h2>
                    <br>
                    <input id='Vvod_First_Concurent' type="url" value="" placeholder="Первый конкурент" onChange="Otobrazhenie_Block_Second_Concurent(value)">
                </div>

                <!-- Второй конкурент -->
                <div id='Block_Second_Concurent' style='display: none;'>
                    <br>
                    <input type="url" value="" placeholder="Второй конкурент" onChange="Otobrazhenie_Block_Third_Concurent(value)">
                </div>

                <!-- Третий конкурент -->
                <div id='Block_Third_Concurent' style='display: none;'>
                    <br>
                    <input type="url" placeholder="Третий конкурент">
                </div>
                <br>

                <!-- Преимущества сайта -->
                <div id='Block_Advantages' style='display: none;' align="center">
                    <h2 class="form_text">Преимущества вашего сайта</h2>
                    <textarea id="Vvod_Advantages" placeholder="Опишите преимущества вашего сайта перед сайтами-конкурентами"></textarea>
                </div>
                <div class="RadioChoice" id='Block_examples_of_advantages' style='display: none;'><br><label><input onclick="Is_it_examples_of_advantages(value)" id="examples" value="Yes" type="radio" class="radio">Примеры преимуществ</label></div>
                <!-- Примеры преимуществ -->
                <div id="examples_of_advantages" style='display: none;'>
                    <br>
                    <h2 class="form_text">Примеры преимуществ для сайта интернет-магазин:</h2>
                    <h3 class="form_text">1. Более низкие цены за счет более низких расходов на ведение бизнеса. <br> 2. Уникальная продукция по доступным ценам. <br> 3. Постоянное наличие товара и его быстрая доставка.</h3>
                    <br>
                </div>

                <!-- Требования к функционалу сайта -->
                <h2 class="form_text">Требования к функционалу сайта</h2>
                <div class="RadioChoice"><label><input required type="radio" class="radio" value="Unical" name="tri"/>Сайт с уникальным функционалом</label></div><br>
                <div class="RadioChoice"><label><input required type="radio" class="radio" value="Basic_is_another_syte" name="tri"/>Функционал на основе другого сайта</label></div><br>
                <textarea align="center" placeholder="Напишите свои предпочтения касаемо функционала сайта, если это нужно"></textarea>

                <!-- Требования к дизайну сайта -->
                <h2 class="form_text">Требования к функционалу сайта</h2>

                <h2 class="form_text">Требования к цветовой гамме</h2><br>
                <div class="RadioChoice"><label><input required type="radio" class="radio" value="Me" name="chetire"/>Предложить цветовую гамму сайта</label></div><br>
                <div class="RadioChoice"><label><input required type="radio" class="radio" value="Developer" name="chetire"/>Предлагает разработчик</label></div><br>
                <textarea align="center" placeholder="Напишите свои предпочтения касаемо дизайна сайта, если это нужно"></textarea>

                <h2 class="form_text">Дизайн</h2><br>
                <div class="RadioChoice"><label><input required type="radio" class="radio" value="Me" name="shest"/>Предложить дизайн</label></div><br>
                <div class="RadioChoice"><label><input required type="radio" class="radio" value="Developer" name="shest"/>Предлагает разработчик</label></div><br>
                <input type="url" placeholder="В случае необходимости введите ссылку на сайт, дизайн которого вам по душе">

                <!-- Выбор языка интерфейса -->
                <h2 class="form_text">Выберите язык интерфейса</h2>
                <div class="RadioChoice"><label><input required type="radio" class="radio" name="pat"/>Русский</label></div><br>
                <div class="RadioChoice"><label><input required type="radio" class="radio" name="pat"/>Английский</label></div><br>
                <div class="RadioChoice"><label><input required type="radio" class="radio" name="pat"/>Другой</label></div>

                <!-- Срок разработки -->
                <h2 class="form_text">Срок разработки</h2>
                <label><input required type="date" placeholder="ДД.ММ.ГГГГ" align="center"></label>

                <!-- Согласие на обработку персональных данных -->
                <h2 class="form_text">Согласие на обработку персональных данных</h2>
                <div class="RadioChoice"><label><input required type="radio" class="radio">Согласен на обработку персональных данных</label></div>

                <!-- Кнопка: СОЗДАТЬ ТЕХНИЧЕСКОЕ ЗАДАНИЕ -->
                <br><br>
                <input name="button" class="swing" type="submit" value="Создать техническое задание" style="height: 10vh; background-color: brown; color: aliceblue; border-radius: 50px; font-size: 40px; cursor: pointer;">
            </form>
            <br><br>
        </div>
    </div>
</div>

{% endblock %}

