{% extends 'base.html' %}

{% block content %}
<div class="menu">
    {% if 'username' in session %}
    <span>{{ session['username'] }}</span>
    <a href="{{ url_for('admin.index') }}">Админка</a>
    <a href="{{ url_for('logout') }}">Выход</a>
    {% else %}
    <a href="{{ url_for('admin.index') }}">Админка</a>
    <a href="{{ url_for('login_page') }}">Вход</a>
    {% endif %}
</div>

<div class="Online-TehZadanie">
    <div>
        <a href="{{ url_for('index_page') }}" class="link1">Техническое задание <br> Онлайн</a>
    </div>
</div>

<div class="galochka">
    <div id="check-part-1" class="check-sign"></div>
    <div id="check-part-2" class="check-sign"></div>
</div>

<header>
    <br>
    <h1>Ваше техническое задание готово!</h1>
    <h1>Проверьте электронную почту, на которую оно поступит.</h1>
    <br>
    <h1>Не забудьте также проверить папку “СПАМ".</h1>
    <br>
    <br>
    <a href="{{ url_for('second_page') }}" class="btn swing">Написать ещё одно ТЗ</a>
</header>

{% endblock %}